/*
 * Created Date: Mar 25 2024, 04:35:24 PM
 * Author: @WhoTho#9592 whotho06@gmail.com
 * -----
 * Last Modified: Mar 29 2024, 02:54:42 PM
 * Modified By: @WhoTho#9592
 * -----
 * CHANGE LOG:
 * Date                        | Comments
 * ----------------------------+---------------------------------------------
 */

#buildings-and-upgrades {
    position: relative;
}

/* #buildings-and-upgrades > div {
    background-color: var(--color-primary);
} */

#buildings-and-upgrades > div.hidden {
    display: none !important;
}

#buildings-wrapper {
    height: 100%;
}

#upgrades-wrapper {
    height: 100%;
}

.clickable-section {
    display: flex;
}

.building-selection-element {
    width: 50px;
    aspect-ratio: 1/1;
    display: none;
}

.building-selection-element.unlocked {
    display: block !important;
}

.building-selection-element.selected {
    border: 3px outset var(--color-light);
    background-color: var(--color-primary);
}
