/*
 * Created Date: Mar 29 2024, 02:31:56 PM
 * Author: @WhoTho#9592 whotho06@gmail.com
 * -----
 * Last Modified: Mar 29 2024, 02:37:59 PM
 * Modified By: @WhoTho#9592
 * -----
 * CHANGE LOG:
 * Date                        | Comments
 * ----------------------------+---------------------------------------------
 */
/* 
#display-wrapper {
    overflow-y: auto;
}

/* Custom scrollbar styles */
/* #display-wrapper::-webkit-scrollbar {
    width: 10px;
}

#display-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#display-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
}

#display-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */
