/*
 * Created Date: Mar 25 2024, 03:09:39 PM
 * Author: @WhoTho#9592 whotho06@gmail.com
 * -----
 * Last Modified: Mar 29 2024, 02:53:35 PM
 * Modified By: @WhoTho#9592
 * -----
 * CHANGE LOG:
 * Date                        | Comments
 * ----------------------------+---------------------------------------------
 */

:root {
    /* --color-primary: #1d336e; */
    --color-primary: #475566;
    /* --color-light: #bac5e2; */
    --color-light: #fff;
    --color-dim-light: #76809b;
    --color-light-dark: #4a4d51;
    --color-dark: #030303;
    --color-background: #212634;
    --color-primary-lighter: color-mix(in srgb, var(--color-primary), #fff 25%);
    --color-primary-darker: color-mix(in srgb, var(--color-primary), #000 25%);

    --color-money: #23b83c;
    --color-energy: #968414;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Add this line to remove scrollbar */
    height: 100vh;

    color: var(--color-light);
}

.game-section {
    background-color: var(--color-primary);
    margin: 10px;
    padding: 20px;
}

.outset-border {
    border-width: 3px;
    border-style: outset;
    border-left-color: var(--color-primary-lighter);
    border-right-color: var(--color-primary-darker);
    border-top-color: var(--color-primary-lighter);
    border-bottom-color: var(--color-primary-darker);
}

.data-section {
    background-color: var(--color-light-dark);
    padding: 10px;
}

#game-name {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

/* div {
    border: 1px solid red;
} */

#wrapper {
    display: flex;
    height: 90%;
    width: 100%;
}

#game-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#game-grid {
    width: 80%;
    min-width: 400px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: var(--color-primary);
}

#info-and-clicker {
    min-width: 200px;
    width: 25%;
}

#buildings-and-upgrades {
    width: 25%;
    min-width: 200px;
}
